.idea/
.gradle/
build/
gradle/
build.gradle
gradle.properties
gradlew.bat
local.properties
settings.gradle
*.iml
local.properties
.idea/libraries
.idea/workspace.xml
.DS_Store
captures
.externalNativeBuild
.directory  